/*Universal css*/
h1 {
    color: #d81d28;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 65px;
}

h2 {
    color: #d81d28;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
}

/*Index*/
indexGrid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px 400px 1600px 100px;
    grid-template-areas: 
    'hd hd hd hd'
    's1 s1 s1 s1'
    's2 s2 s2 s2'
    'ft ft ft ft'
    ;
}

#i1 {
    grid-area: s1;

    background-image: url(/img/stock/gym1.jpg);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#i1search{
    width: 500px;
    height: 50px;

    padding-left: 20px;
    border-radius: 20px;
    border: none;

    font-size: 36px;
}

#i2 {
    grid-area: s2;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#newsTitle{
    width: 100%;
    text-align: center;
}

.newsItem{
    border-radius: 50px;
    background-color: #e74c3c;

    width: 500px;
    height: 600px;
}

.newsImg{
    object-fit: cover;
    width: 100%;
    height: 60%;
    border-radius: 45px 45px 0px 0px;
}

.newsText{
    font-size: 40px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/*Training*/
trainingGrid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px 2000px 100px;
    grid-template-areas: 
    'hd hd hd hd'
    'ma ma ma ma'
    'ft ft ft ft'
    ;
}

#tm {
    grid-area: ma;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.trainingItem {
    width: 1800px;
    height: 400px;  
    
    background-color: #e74c3c;
    border-radius: 20px;

    margin: 20px;
}

.trainingImg{
    object-fit: cover;
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0px 0px;
}

.trainingText{
    font-size: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/*Profile*/
profileGrid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px 2000px 100px;
    grid-template-areas: 
    'hd hd hd hd'
    'as ma ma ma'
    'ft ft ft ft'
    ;
}

#pm {
    grid-area: ma;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#pa {
    grid-area: as;

    padding: 20px;
    background-color: #d81d28;
}

.pbox {
    width: 1200px;

    background-color: #e74c3c;
    border-radius: 20px;

    padding: 10px;
    margin: 20px;
}

.pboxTitle {
    font-size: 45px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.pboxText {
    font-size: 30px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

    border-top: 1px solid white;
}

/*Header & footer*/
header { 
    grid-area: hd;

    background-color: #e74c3c;

    display: flex;
    justify-content: space-around;
}

.hDiv {
    display: inline-flex;
    align-items: center; /* Center .hIcon and h1 vertically*/
    gap: 40px; /* Space between .hIcon and h1*/
}

.hTitle {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 45px;
}

.hIcon {
    height: 80%;
}

footer {
    grid-area: ft;

    background-color: #e74c3c;

    display: flex;
    justify-content: space-around;

    align-items: center;
}

.fTitle {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
}