indexGrid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px 400px 800px 100px;
    grid-template-areas: 
    'hd hd hd hd'
    's1 s1 s1 s1'
    's2 s2 s2 s2'
    'ft ft ft ft'
    ;
}

header{
    grid-area: hd;

    background-color: #e74c3c;

    border-bottom: 5px black solid;

    display: flex;
    justify-content: space-around;
}

.hDiv {
    display: inline-flex;
    align-items: center; /* Center .hIcon and .hTitle vertically*/
    gap: 40px; /* Space between .hIcon and .hTitle */
}

.hIcon {
    height: 80%;
}

.hTitle {
    color: rgb(30, 30, 30);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
}